# Python cache
__pycache__/
*.py[cod]

# Virtual environment
venv/
.env/

# Model and scaler files
*.pkl

# Streamlit config
.streamlit/

# Jupyter notebooks
.ipynb_checkpoints/

# OS files
.DS_Store
Thumbs.db

# VS Code settings
.vscode/
